# SSH config of the virtual machine to fuzz
$user=test
$pswd=test

# QEMU command to run the virtual machine
$qcmd=qemu-system-x86_64 -hda /run/media/krakan/0bdc89eb-8563-4187-867f-751b8091043f/krakan/git/amd-sev/GUEST.qcow2  -m 4G -monitor telnet:127.0.0.1:1234,server,nowait -accel kvm

# Amount of memory the virtual machine has in bytes and hex (here: 4GB)
$vmem=0x800000000

# compiler command
$ccmd=clang -Wall stubs/linux_stub.c -o linux_stub

# local stub path of the compiled executable
$slph=linux_stub

# remote stub path
$srph=/home/test/linux_stub